@layout.app({ title: "Dashboard" })
@slot('meta')
<meta name="description" content="A welcome page made with EdgeJS">
@endslot
<div class="mx-auto max-w-screen-xl py-4 mt-4">
  <h1
    class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600 mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
    Dashboard View</h1>
</div>
@end
